node_modules
tsconfig.json
package-lock.json
package.json
/dist/*
!dist/Fetchs.js
!dist/main.js
!dist/Renders.js
!dist/Constructors.js
!dist/Types.js
!dist/results.js
!dist/favorites.js
!dist/utils.js