@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-title: "Saira", sans-serif;
    --font-text: 'Rajdhani', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #8c00ff9c;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background-color: #280644;
}

body {
    height: 100%;
}

header {
    background: linear-gradient(to right, #4c1274, #b7f8048a 90%);
    height: 13%;
    box-shadow: 0 5px 15px 2px;

    display: flex;
    align-items: center;
}

#header-h1 {
    font-family: var(--font-title);
    background: linear-gradient(to right, #9c42f1, #d9ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
    font-size: 2rem;
}

#astronaut-img {
    height: 5rem;
}

#home {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}


main {
    display: flex;
    justify-content: center;
}

.li-cards {
    list-style: none;
}

#section-games {
    margin-top: 2rem;
    background: linear-gradient(to bottom, #290a3d, #5b7418);
    height: 33rem;
    width: 70rem;
    border-radius: 40px 5px;

    border-right: #00000093 solid 15px;
    border-left: #000000a2 solid 15px;

    overflow-y: scroll;
}

#section-games::-webkit-scrollbar {
    width: 0px;
}

#section-games-title {
    font-family: var(--font-title);
    font-size: 2rem;
    background: linear-gradient(to right, #8319e7, #d9ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
    display: flex;
    justify-content: center;
}

#cards-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background: linear-gradient(to bottom, #000000 78%, #b015d6);
    height: 15rem;
    width: 15rem;
    box-shadow: 0 10px 10px 2px;
    border-radius: 10px;
    position: relative;

    border: inset 10px #9c42f1;
}

.cards:hover {
    transition: 1s;
    transform: scale(1.05);
}

.cards-img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 11rem;
}


.favorite-icon {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    border: #34125080 solid 5px;
    border-radius: 40%;
}

.favorite-icon:hover {
    cursor: grab;
    box-shadow: inset 10px 10px 10px 10px #c8ff00;
}

.games-title {
    font-size: 1rem;
    font-family: var(--font-text);
    font-weight: 800;
    display: inline-block;

    color: white;
}

.div-favorite_title {
    display: flex;
    align-items: center;
    justify-content: center;
}


#fullscreen-card {
    position: fixed;
    z-index: 9999;
    background-color: #000000;
    border: solid 5px #000000;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    top: 0;

    display: none;
    flex-direction: column;
}

#fullscreen-title-description {
    background: linear-gradient(to bottom, #c3d6166e, #460d55);
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    color: #000000;
    font-family: var(--font-text);
    font-weight: 800;

    overflow-y: scroll;
}

#fullscreen-game-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#game-screenshot {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

#div-img-trailer {
    width: 100%;
    display: flex;
    height: 60%;
}

#div-fullscreen-trailer {
    width: 50%;
    height: 100%;
    position: relative;
}
.Arrow{
    position: absolute;
    width: 2rem;
    height: auto;
    bottom: 12rem;
    cursor: pointer;
}
#left-arrow{
    left: 0;
}
#right-arrow{
    right: 0;
}
#exit-fullscreen{
    width: 2.2rem;
    top: 0;
    position: absolute;
    left: -1rem;
    cursor: pointer;
}

#fullscreen-trailer {
    width: 100%;
    height: 100%;
}

#div-fullscreen-img {
    width: 50%;
    height: 100%;
    overflow: hidden;

}

#fullscreen-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

#fullscreen-title-description::-webkit-scrollbar {
    width: 0.8rem;
}

#fullscreen-title-description::-webkit-scrollbar-track {
    background: #631366;
}

#fullscreen-title-description::-webkit-scrollbar-thumb {
    background: #9ccc19;
    border-radius: 10px;
}

#load-button {
    display: flex;
    justify-self: center;
    background-color: #9c42f1;
    border-radius: 10px;
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 800;
    width: 20rem;
    justify-content: center;
    cursor: pointer;
    margin: 2rem 0;
    border: black solid;
}

#load-button:hover {
    transform: scale(1.05);
    transition: 1s;
}