header>div {
    width: 40%;
}

#header-nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-buttons {
    text-decoration: none;
    color: #2b0f44;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.1em;
}

#favorites-button {
    background-color: #a179c7;
    border: solid 1px;
    border-radius: 10px 0px;
    width: 7rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
}


#favorites-button:hover {
    box-shadow: inset 0px 5px 10px 0;
    transition: 0.4s;
    transform: scale(1.05);
}